//
// Simple variable tests for Fawkss.
//

--- TEST ---

$__height1:10px;  
  $12color: black;
$grad_col : red;
$border    :  1px solid $12color  ;

.test-element {
	color:$12color; background-color: $12color;
	height:    $__height1; border: $border;
	linear-gradient(45deg, $grad_col, $grad_col);
}

--- EXPECTED ---

.test-element {
	color:black; background-color: black;
	height:    10px; border: 1px solid black;
	linear-gradient(45deg, red, red);
}

--- END ---