//
// Simple variable tests for Fawkss.
//

--- TEST ---

$width    :  100%;
$__height1:10px;  
  $12color: black;
$grad_col : red;

.test-element {
	color:$12color; background-color: $12color;
	height:    $__height1; width: $width;   
	linear-gradient(45deg, $grad_col, $grad_col);
}

--- EXPECTED ---

.test-element {
	color:black; background-color: black;
	height:    10px; width: 100%;   
	linear-gradient(45deg, red, red);
}

--- END ---