//
// Simple import tests for Fawkss.
//

--- TEST ---

// These should be passed down to the resulting CSS file verbatim.
@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);

// These should be imported into the resulting CSS file.
@import  "imports/partial"  ;
	@import "imports/full.scss";

--- EXPECTED ---

@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);

.partial {
	content: 'This is a partial';
}

.full {
	content: 'This is a full import';
	color: #fff;
	background-color : #000;
}

--- END ---