//
// Simple include tests for Fawkss.
//

--- TEST ---

@include "includes/partial"
@include "includes/full.scss"

--- EXPECTED ---

.partial {
	content: 'This is a partial';
}

.full {
	content: 'This is a full include';
	color: white;
}

--- END ---