//
// Simple import tests for Fawkss.
//

--- TEST ---

@import "imports/partial"
@import "imports/full.scss"

--- EXPECTED ---

.partial {
	content: 'This is a partial';
}

.full {
	content: 'This is a full import';
	color: #fff;
	background-color : #000;
}

--- END ---